/*Grid*/
/*row*/
.row{
  display: flex;
  flex-wrap: wrap;
}
/*container*/
.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}
$max_width: 100%;
$max_cols: 12;
$single_col: $max_width / $max_cols;


@for $i from 1 through 12 {


  .col-#{$i} {
    position: relative;
    flex: 0 0 $single_col * $i}
}

@media(max-width:1000px){
  div[class*="col-"]{

    flex:0 0 100%;
  }

}
